.panel.panel-default
  .panel-heading
    %h3.panel-title Summary information
  .panel-body
    %table.table
      %tr
        %th
          All registrations
        %td
          = @all
      %tr
        %th
          Need accommodation
        %td
          = @need_place
      %tr
        %th
          Man
        %td
          = @man
      %tr
        %th
          Woman
        %td
          = @woman
      %tr
        %th
          Arriving on Friday
        %td
          = @friday
      %tr
        %th
          Arriving on Saturday
        %td
          = @saterday




