%header
  .container
    .intro-text
      .intro-lead-in YOUNG SINGLE ADULT WEEKEND
      .intro-lead-in 3 - 5 October
      .intro-heading Prague 2014
      %a.page-scroll.btn.btn-xl{:href => "#contact"} Registration
/ Services Section
%section#information
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Information / Informace
        %h3.section-subheading.text-muted
          I have labored without ceasing, that I might bring souls unto repentance;
          %br
          %br
          that I might bring them to taste of the exceeding joy of which I did taste
          %br
          %br
          %br
          „…od oné doby až do nynějška jsem bez ustání pracoval, abych mohl přiváděti duše ku pokání;
          %br
          %br
          abych je mohl přiváděti k tomu, aby okusily onu nesmírnou radost, kterou jsem okusil já…“
    .row.text-center
      .info-text.text-muted
        %p.info-text
          The Prague District is inviting you to the young single adult prague weekend which will be full of fun, spirituality, great experiences and friends.
          Not a member of this Church? Please come with one of our members!
        %p.info-text
          Anyone who is between the ages of
          %strong
            18 and 30 years, not married and agrees to keep our
          %strong= link_to 'Code of Conduct', '#portfolioModal2', data:{toggle: 'modal'}
          can come to the activities and join us.
          Think about your clothes and dress according to the church standards
          See and follow:
          %br
          = link_to 'The Strength of Youth pamphlet',
          "https://www.lds.org/manual/for-the-strength-of-youth-fulfilling-our-duty-to-god?lang=eng&query=strength+of+youth",
          target: '_blank'
    .row.text-center
      .info-text.text-muted
        %p.info-text
          Okrsek praha vás zve napražský víkend mladých svobodných dospělých, který bude plný zábavy, duchovních věcí, úžasných zkušeností a přátel.
          Nejste členem této církve? prosím přijďte s jedním z našich členů!
        %p.info-text
          %strong
            Kdokoliv ve věku od 18 do 30ti let,
            svobodný a kdo souhlasí s dodržováním našeho
          %strong= link_to 'kodexu chování', '#portfolioModal4', data:{toggle: 'modal'}
          může přijít a připojit se k nám!
          Popřemýslejte o vhodném oblečení v souladu s církevními měřítky
          Podívejte se a řiďte se podle:
          %br
          = link_to 'brožurky pro posílení mládeže',
          "https://www.lds.org/manual/for-the-strength-of-youth-fulfilling-our-duty-to-god?lang=eng&query=strength+of+youth",
          target: '_blank'

    %hr
    .row
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center TIME / ČAS
          %p.text-muted
            Friday— arrivals around 17:00
            The end will be after Sunday church
          %p.text-muted
            Pátek – příjezd kolem 17:00
            Konec po nedělním shromáždění
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center FOOD / JÍDLO
          %p.text-muted
            All the food will be provided by organisers of the Activity.
            %br
            %strong No food will be provided on Sunday (Fast Sunday)
          %p.text-muted
            Prosím uveďte jakékoliv alergie při vyplňování registrace online. veškeré jídlo bude poskytnuto.
            %br
            %strong Žádné jídlo nebude poskytnuto v neděli (Postní Neděle)
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center ACCOMMODATION / UBYTOVÁNÍ
          %p.text-muted
            If you send your registrations by
            %strong
              20.09.2014
            %br
            All the housing will be prepared for you with families in the branch.
          %p.text-muted
            Pokud pošlete svou registraci do
            %strong 20.9.2014
            %br
            Veškeré ubytování bude pro vás připraveno u rodin v odbočce.


/ Portfolio Grid Section
%section#program.bg-light-gray
  .container
    .row
      .col-lg-12.col-md-12.text-center
        %h2.section-heading Program
        %h3.section-subheading.text-muted „ …I have labored without ceasing, that I might bring souls unto repentance; that I might bring them to taste of the exceeding joy of which I did taste …“
    .row

      .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-6.portfolio-item
      .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          = image_tag 'sc.jpg', width: '400px', height: '260px', class: 'img-responsive'
        .portfolio-caption
          %h4.text-center Activity Program
          %p.text-center.text-muted (Click on the image to make it bigger)
      .col-md-4.col-sm-6.portfolio-item


/ About Section
%section#contactInfo
  .container
    .row
      .col-lg-12.clo-md-12.text-center
        %h2.section-heading Contact
        %h3.section-subheading.text-muted You can reach us by this contact information
    .row
      %p.info-text.text-muted.text-center
        If you have any questions, feel free to write us an email:
        %strong
          = link_to 'ysapraha2014@gmail.com', 'mailto:ysapraha2014@gmail.com'
      %p.info-text.text-muted.text-center
        %strong Address:
        Prague’s chapel, Milady Horákové 85/95, Praha 17000
%section#contact
  .container
    .row
      .col-lg-12.col-md-12.text-center
        %h2.section-heading Registration
        %h3.section-subheading.text-muted You should be registered before go to the activity
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-lg-offset-4
        = link_to 'Open Registration Form', '#portfolioModal1', class: 'btn btn-xl btn-lg btn-md btn-primary btn-block', data:{toggle: 'modal'}


#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    #close-form.close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .modal-body
            %h2.text-center Registration Form
            #msgs
            .panel.panel-default.col-md-12.col-sm-12.reg-form
              .col-md-10.col-sm-12.col-md-offset-1
                = render 'admin/registrations/frontend_form'

#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .modal-body
            %h2.text-center Code of Conduct
            = render 'code'
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .modal-body
            %h2.text-center YSA WEEKEND PROGRAM
            .col-md-2.col-md-offset-5
              = link_to 'PDF file', program_path, class: 'btn btn-primary btn-block', target: '_blank'
            = image_tag 'sc.jpg', class: 'img-responsive'
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .modal-body
            = image_tag 'cd.jpg'


= render 'admin/registrations/success_reg'
