%header
  .container
    .intro-text
      .intro-lead-in YOUNG SINGLE ADULT WEEKEND
      .intro-lead-in 3 - 5 October
      .intro-heading Prague 2014
      %a.page-scroll.btn.btn-xl{:href => "#contact"} Registration
/ Services Section
%section#information
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Information
        %h3.section-subheading.text-muted
          „ …I have labored without ceasing, that I might bring souls unto repentance;
          %br
          %br
          that I might bring them to taste of the exceeding joy of which I did taste …“
    .row.text-center
      .info-text.text-muted
        %p.info-text
          The Prague District is inviting you to the young single adult prague weekend which will be full of fun, spirituality, great experiences and friends.
          Not a member of this Church? Please come with one of our members!
        %p.info-text
          Anyone who is between the ages of
          %strong
            18 and 30 years, not married and agrees to keep our Code of Conduct
          can come to the activities and join us.
          Think about your clothes and dress according to the church standards
          See and follow:
          %br
          = link_to 'The Strength of Youth pamphlet',
          "https://www.lds.org/manual/for-the-strength-of-youth-fulfilling-our-duty-to-god?lang=eng&query=strength+of+youth",
          target: '_blank'

    %hr
    .row
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center TIME
          %p.text-muted
            Friday— arrivals around 17:00
            The end will be after Sunday church
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center FOOD
          %p.text-muted
            All the food will be provided by organisers of the Activity
      .col-md-4.col-sm-6.portfolio-item
        .portfolio-caption
          %h4.text-center ACCOMMODATION
          %p.text-muted
            If you send your registrations by
            %strong
              20.09.2014
            %br
            All the housing will be prepared for you with families in the branch.


/ Portfolio Grid Section
%section#program.bg-light-gray
  .container
    .row
      .col-lg-12.col-md-12.text-center
        %h2.section-heading Program
        %h3.section-subheading.text-muted We're still working on it :)
    .row
      %h1.text-muted.text-center
      .col-lg-2.col-md-offset-3.col-md-4.col-md-offset-4
        = image_tag 'coming-soon.jpg'



/ About Section
%section#contactInfo
  .container
    .row
      .col-lg-12.clo-md-12.text-center
        %h2.section-heading Contact
        %h3.section-subheading.text-muted You can reach us by this contact information
    .row
      %p.info-text.text-muted.text-center
        If you have any questions, feel free to write us an email:
        %strong
          = link_to 'ysapraha2014@gmail.com', 'mailto:ysapraha2014@gmail.com'
      %p.info-text.text-muted.text-center
        %strong Address:
        Prague’s chapel, Milady Horákové 85/95, Praha 17000
%section#contact
  .container
    .row
      .col-lg-12.col-md-12.text-center
        %h2.section-heading Registration
        %h3.section-subheading.text-muted You should be registered before go to the activity
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-lg-offset-4
        = link_to 'Open Registration Form', '#portfolioModal1', class: 'btn btn-xl btn-lg btn-md btn-primary btn-block', data:{toggle: 'modal'}


#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    #close-form.close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-10.col-lg-offset-1
          .modal-body
            %h2.text-center Registration Form
            #msgs
            .panel.panel-default.col-md-12.col-sm-12.reg-form
              .col-md-10.col-sm-12.col-md-offset-1
                = render 'admin/registrations/frontend_form'
= render 'admin/registrations/success_reg'
