= form_for [:admin, Registration.new], :html => { :class => 'form-horizontal registration-form' }, remote: true do |f|
  %fieldset
    .form-group
      = f.label :name, :class => 'control-label required'
      .controls
        = f.text_field :name, :class => 'form-control input-lg'
    .form-group
      = f.label :last_name, :class => 'control-label required'
      .controls
        = f.text_field :last_name, :class => 'form-control input-lg'
    .form-group
      = f.label :gender
      .controls
        = "Male"
        = f.radio_button :gender, 'male', checked:  true
        = "Female"
        = f.radio_button :gender, 'female'
    .form-group
      = f.label :email, :class => 'control-label required'
      .controls
        = f.email_field :email, :class => 'form-control input-lg'
    .form-group
      = f.label :phone, :class => 'control-label required', id: 'phone', 'data-inputmask'=>"'alias': 'phone'"
      .controls
        = f.text_field :phone, :class => 'form-control input-lg'
    .form-group
      = f.label :arriving, :class => 'control-label required'
      .controls
        = f.select :arriving, Registration::ARRIVING, {prompt:"--- Select Day ---"}, :class => 'form-control input-lg'
    .form-group
      = f.label :country, :class => 'control-label required'
      .controls
        = f.select :country, Registration::COUNTRIES, {prompt:"--- Select Country ---"}, :class => 'form-control input-lg'
    .form-group
      = f.label :city, :class => 'control-label required'
      .controls
        = f.select :city, Registration::CITIES, {prompt:"--- Select City ---"}, :class => 'form-control input-lg'
    .form-group
      = f.label 'How many days you will stay?', :class => 'control-label required'
      .controls
        = f.select :days, Registration::DAYS, {prompt:"--- Select Days ---"}, :class => 'form-control input-lg'
    .form-group
      = f.check_box :member
      = f.label 'Are you a member?', :class => 'control-label'
    .form-group
      = f.check_box :need_place
      = f.label 'Do you need a place to stay?', :class => 'control-label'
    .form-group
      = f.label :comment, :class => 'control-label'
      .controls
        = f.text_area :comment, :class => 'form-control input-lg'
    = f.submit 'Registration', :class => 'btn btn-primary btn-lg btn-block'